---
import Squiggle from "./Squiggle.astro";
const today = new Date();
---

<footer class="mt-10 sticky top-[100vh] text-center text-sm">
  <p>Copyright &copy; {today.getFullYear()} Seth Livingston. All rights reserved.</p>
  <p>Made with 🩶 in Texas with <a href="https://astro.build">Astro</a></p> 
  <p>Theme inspired by Robert Guss's <a href="https://github.com/robertguss/Astro-Theme-Creek">Creek</a>
</footer>

<Squiggle />

