---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import Squiggle from "./Squiggle.astro";
---

<style>
  header a:link, header a:visited {
    @apply no-underline;
  }
  header a:visited, header a:hover, header a:visited {
    @apply bg-inherit text-inherit;
  }
</style>

<header class="mb-8">
  <p class="font-title text-center text-2xl"><a href="/" class="">{SITE_TITLE}</a></p>
  <nav class="mb-8">
    <ul class="flex gap-4 justify-center text-sm tracking-tight">
      <li><HeaderLink href="/">Home</HeaderLink></li>
      <li><HeaderLink href="/blog">Blog</HeaderLink></li>
    </ul>
  </nav>

  <div class="w-full border-b-2 border-black squiggle"></div>

</header>
